<div class="modal fade" ngmodal id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form class="" ng-submit="doEdit(editForm.$valid)" name="editForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Chỉnh sửa tài khoản</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning alert-dismissible" role="alert" ng-if="errorMess">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{errorMess}}
                    </div>
                    <div class="alert alert-success alert-dismissible" role="alert" ng-if="succMess">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{succMess}}
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-sm-3">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" ng-required="true" name="email" ng-model="editData.email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Role</label>
                        <div class="col-sm-9">
                            <select name="role" class="form-control" name="role" ng-model="editData.role">
                                <option value="author">Author</option>
                                <option value="administrator">Administrator</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Hủy</button>
                    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary"><i class="fa fa-save"></i> Lưu lại</button>
                </div>
            </div>
        </form>
    </div>
</div>