<h1 class="page-header">Danh sánh thành viên</h1>

<div class="page-content">
    <div class="alert alert-warning alert-dismissible" role="alert" ng-if="errorMess">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{errorMess}}
    </div>
    <div ng-include="navTableLink"></div>
    <div class="table-responsive" ng-if="items">
        <table class="table table-striped">
            <thead class="text-left">
                <tr>
                    <th><input type="checkbox" class="checkAll" ng-click="checkAll($event)"></th>
                    <th>Tên <a href="#" ng-click="doSort('name')"><i class="fa fa-sort"></i></a></th>
                    <th>Email <a href="#" ng-click="doSort('email')"><i class="fa fa-sort"></i></a></th>
                    <th>Role <a href="#" ng-click="doSort('role')"><i class="fa fa-sort"></i></a></th>
                    <th>Mật khẩu</th>
                    <th>Tham gia <a href="#" ng-click="doSort('created_at')"><i class="fa fa-sort"></i></a></th>
                    <th class="td_action">Action</th>
                </tr>
            </thead>
            <tr ng-repeat="item in items">
                <td><input type="checkbox" class="checkItem" ng-click="addCheck($event, item._id)" ng-checked="isCheckAll"></td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.role}}</td>
                <td>*********</td>
                <td>{{item.created_at}}</td>
                <td>
                    <permiss cap="edit_private_user" object="{{item}}">
                        <a class="btn btn-sm btn-primary" ui-sref="userEdit({id: item._id})"><i class="fa fa-edit"></i></a>
                    </permiss>
                    <permiss cap="delete_private_user" object="{{item}}">
                        <a class="btn btn-sm btn-danger" ng-click="delItem(item._id)" ng-confirm="Bạn chắc chắn xóa?"><i class="fa fa-trash"></i></a>
                    </permiss>
                </td>
            </tr>
        </table>
       
        <nav class="paginate text-right" ng-paginate ng-if="pages > 1"></nav>
    </div>
    <div ng-if="!items">
        <p>Không có dữ liệu!</p>
    </div>
</div>