<div class="wrap">
    
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h1 class="page-title cl-title text-center"><span>Đặt lại mật khẩu</span></h1>
            <div class="well">
                <h2 class="box-title">Yêu cầu lấy lại mật khẩu</h2>
                <div class="alert alert-dismissable alert-danger" ng-if="errMess">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{errMess}}
                </div>
                <div class="alert alert-dismissable alert-success" ng-if="succMess">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{succMess}}
                </div>
                
                <form method="post" class="logonForm" ng-submit="submitEmail(loginForm.$valid)" name="loginForm" novalidate>
                    <div class="form-group has-feedback" ng-class="{'has-error': !loginForm.email.$valid && !loginForm.$pristine}">
                        <label>Nhập địa chỉ email (*)</label>
                        <input type="email" name="email" ng-model="forgotEmail" ng-required="true" class="form-control" placeholder="Nhập email">
                        <span class="form-control-feedback"><i class="fa fa-envelope"></i></span>

                        <div class="help-block" ng-show="loginForm.email.$dirty && loginForm.email.$error.required">Email là bắt buộc!</div>
                        <div class="help-block" ng-show="loginForm.email.$dirty && loginForm.email.$error.email">Phải là email!</div>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid"><i class="fa fa-check"></i> Xác nhận</button>
                    </div>
                </form>
                <p class="text-right"><a ui-sref="login"><strong>Quay lại đăng nhập</strong></a></p>
            </div>
        </div>
    </div>
</div>

