<div class="wrap">
    
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h1 class="page-title cl-title text-center"><span>Đăng nhập</span></h1>
            <div class="well">
                <h2 class="box-title">Đăng nhập để quản lý dễ dàng hơn</h2>
                <div class="alert alert-dismissable alert-danger" ng-if="loginMessage">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{loginMessage}}
                </div>
                <form method="post" class="logonForm" ng-submit="doLogin(loginForm.$valid)" name="loginForm" novalidate>
                    <div class="form-group has-feedback" ng-class="{'has-error': !loginForm.email.$valid && !loginForm.$pristine}">
                        <label>Địa chỉ email (*)</label>
                        <input type="email" name="email" ng-model="user.email" ng-required="true" class="form-control" placeholder="Nhập email">
                        <span class="form-control-feedback"><i class="fa fa-user"></i></span>

                        <div class="help-block" ng-show="loginForm.email.$dirty && loginForm.email.$error.required">Email là bắt buộc!</div>
                        <div class="help-block" ng-show="loginForm.email.$dirty && loginForm.email.$error.email">Phải là email!</div>
                    </div>

                    <div class="form-group has-feedback" ng-class="{'has-error' : !loginForm.password.$valid && !loginForm.$pristine}">
                        <label>Mật khẩu (*)</label>
                        <input type="password" name="password" ng-model="user.password" ng-required="true" ng-minlength="6" class="form-control" placeholder="Nhập mật khẩu">
                        <span class="form-control-feedback"><i class="fa fa-lock"></i></span>

                        <div class="help-block" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">Mật khẩu là bắt buộc!</div>
                        <div class="help-block" ng-show="loginForm.password.$dirty && loginForm.password.$error.minlength">Mật khẩu quá ngắn!</div>
                    </div>
                    <p class="text-right"><a ui-sref="forgotPassword">Quên mật khẩu?</a></p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid"><i class="fa fa-sign-in"></i> Đăng nhập</button>
                    </div>
                </form>
                <p class="text-right">Chưa có tài khoản? <a ui-sref="signup"><strong>Đăng ký ngay</strong></a></p>
            </div>
        </div>
    </div>
</div>

